[user]
        name = Toxocious
        email = toxocious@gmail.com
[core]
        editor = code
[init]
        defaultBranch = main
[filter "lfs"]
        required = true
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
